@{
    ViewBag.Title = "Welcome to mvc project";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <div class="container-fluid" id="page_wrapper">
        <div class="row">
            <div class="col col-sm-12 col-md-6 col-lg-6" id="technologies_wrapper">
                <div id="asp_image_wall"></div>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6" id="content_wrapper">
                <h1>School Management Project.</h1>
                <br />
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum a egestas mi, consectetur posuere mi.
                    Pellentesque ac tempus dolor.
                    Fusce viverra dapibus nunc a ultricies.
                    Vestibulum pellentesque porta orci, sed accumsan nisi iaculis non.
                    Duis posuere erat in pulvinar sollicitudin.
                    Curabitur id sollicitudin sapien.
                    <br />
                    <br />
                    Sed neque leo, sodales nec accumsan ut, elementum sit amet est.
                    Sed at erat ex. Nullam tincidunt nunc commodo viverra commodo. 
                    Duis facilisis augue fermentum mollis mattis. 
                    Praesent maximus leo nisi. In hac habitasse platea dictumst.
                    Mauris venenatis imperdiet dapibus. 
                    Etiam feugiat, ipsum sit amet finibus tincidunt, erat ipsum egestas dui, 
                    vitae cursus velit urna non magna. 
                    <br />
                    <br />
                    Morbi elementum purus nec ex efficitur, sit amet aliquet diam ornare. 
                    Maecenas ac nisi et neque sagittis sollicitudin ac sed sem.
                    Etiam pellentesque consectetur velit sed fringilla. 
                    Maecenas consequat eu nulla eget pretium.
                    Proin varius tincidunt facilisis. 
                    Aliquam sed sapien vestibulum nisi faucibus rhoncus. 
                    Maecenas in sapien ac dolor laoreet finibus sed at odio. 
                    Nunc rutrum nulla non risus sollicitudin fringilla. 
                    Ut fringilla interdum massa. Integer sit amet dui vitae libero tempor tincidunt. 
                    Donec sollicitudin, nisl eu efficitur euismod, odio mi iaculis arcu, a ullamcorper enim quam ut lectus. 
                    Maecenas volutpat faucibus turpis, eu euismod magna ullamcorper id. 
                    Morbi sit amet velit a elit varius commodo. 
                </p>
                <br />
                <br />
                <a href="/Home/About" style="text-decoration:none">
                    <div id="index_btn">
                        Check out the project
                    </div>
                </a>
                <br />
            </div>
        </div>
    </div>
</body>
</html>
